.Center {
  display: inline-block;
  page-break-inside: avoid;
  width: calc(98vw - 40px);
  margin: 20px;
  @media (min-aspect-ratio: 1/1) {
    width: calc(48vw - 40px);
  }
  @media print {
    margin-top: 0;
    margin-bottom: 0;
    &:before {
      content: '';
      display: inline-block;
      height: calc(100vh - 40px);
      vertical-align: middle;
    }
  }
}
.Card {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 3px;
  text-align: center;
  background: white;
  font-size: 1vw;
  h1 {
    margin: 0 20px 20px;
    font-size: 1.2em;
  }
}

.Grid {
  display: grid;
  border: 1px solid black;
  border-width: 1px 0 0 1px;
  border-radius: .25rem;
  overflow: hidden;
  > * {
    box-sizing: border-box;
    position: relative;
    background: white;
    border: 1px solid black;
    border-width: 0 1px 1px 0;
    &:before {
      content: '';
      display: inline-block;
      vertical-align: top;
      width: 1px;
      height: 0;
      padding-bottom: 100%;
    }
    > * {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1em;
    }
    &:last-child {
      border-bottom-right-radius: .25rem;
    }
  }
}
